/* PC */
@media (min-width: 64em){
    
} /* 1024 px= 64 em*/

/*TABLET & MOBILE*/
@media(max-width: 63.9375em) {
    #nav .subnav a {
        padding: 5px 12px;
    }
    .buy-tickets-btn {
        padding: 15px 16px;
    }
    .contact-info {
        line-height: 2;
    }
    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }
    .contact-form .input-send {
        padding: 15px 16px;
    }
    #footer .social-list-icon {
        font-size: 24px;
    }
    #footer .social-list-icon a {
        margin: 0 8px;
    }
    #footer .social-list-icon a {
        padding: 16px 0;
        display: inline-block;
    }
    #footer .copy-right {
        font-size: 24px;
    }

    .contact-submit-btn{
        font-size: 18px;
    }
    
}
/* 1023 px= 63.9375em */
/*TABLET*/
@media (min-width:46.25em) and (max-width: 63.9375em){
    
}
/* 740 px = 46.25em*/

/* MOBILE */
@media (max-width:46.1875em)
{
    .s-full-width {
        width:100% !important;
    }
    .s-col-full {
        width:100% !important;
    }
    .s-mt-8 {
        margin-top: 8px !important;
    }
    #header {
        overflow: hidden; /*ẩn đi những thẻ con bị dư ra ngoài header*/
    }

    #header .search-btn {
        display:none;
    }
    #header .menu-btn-mobile {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display:inline-block;
    }

    #nav {
        display: block;
    }

    #nav .subnav {
        position:initial;
        background-color: #333;
    }
    #nav li a {
        padding: 1px 24px;
    }
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    /* #content .members-list .member-item {
        margin-top: 30px;
        width:100%; /* để 3 ảnh mỗi ảnh chiếm hết 100% để ảnh rụng xuống*/
    
    .member-avatar {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

    
} /* 739 px= 46.1875em*/
